.Down-Right-Scatter {
  grid-area: Down-Right-Scatter;
  margin: 3px;
  background-color: lightgray;
  padding: 20px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  text-align: center;
}
.title{
  font-size: 25px;
  font-weight: bold;
  text-anchor: middle;
  padding-bottom: 20px;
}

text#yaxis{
  margin-top: 20px;
}